$primaryColor:  #18ade4;
$lightGrey:     #ddd;

.main-header {
  .logo-mini {
    color: #ffffff;
  }
  .logo-lg {
    color: #FFFFFF;
  }
  .navbar {
    background-color: $primaryColor;
  }
  .sidebar-toggle {
    color: #ffffff;
  }
}

.main-sidebar {
  color: #ffffff;
  background-color: #072f3e;

  .fa-link, a {
    color: $lightGrey;
  }
}

#organisations {
  .delete {
    background-color: #bc3c3c;
  }
  .edit {
    background-color: #3cbc75;
  }
}

.new-item {
  display: none;
}